<!DOCTYPE html>
<html>

<head>
  <title>Форма ввода имени и пароля</title>
</head>

<body>
  <div style="text-align: center;">
    <h1>Добро пожаловать!</h1>
    <p>Введите ваше имя:</p>
    <input type="text" id="nameInput" method="get">
    <br>
    <p>Введите ваш пароль:</p>
    <input type="password" id="passwordInput">
    <br>
    <button onclick="submitForm()">Отправить</button>
  </div>
  <script>
    function submitForm() {
      var name = document.getElementById('nameInput').value;
      var password = document.getElementById('passwordInput').value;
      var url = "main|name=" + encodeURIComponent(name) + "&password=" + encodeURIComponent(password);
      window.location.href = url;
    }

  </script>
</body>

</html>