<!DOCTYPE html>
<html>

<head>
  <title>Форма ввода имени и пароля</title>
</head>

<body>
  <div style="text-align: center;">
    <h1>Добро пожаловать!</h1>
    <p>Введите ваше имя:</p>
    
      <p><input type="text" id="nameInput" method="get"></p>
      <p>Введите ваш пароль:</p>
      <p><input type="password" id="passwordInput"></p>
      <button type="submit" onclick="submitForm()">Отправить</button>
    
  </div>



  <script>


    function submitForm() {
      var name = document.getElementById('nameInput').value;
      var password = document.getElementById('passwordInput').value;

      var newPasswod = password.replace(/ /g, "");
      var newName = name.replace(/ /g, "");
     
      if (newPasswod != "" && newName != "") {
        var url = "main/?" + "name=" + encodeURIComponent(newName) + "&password=" + encodeURIComponent(newPasswod) + "&tag=";
        window.location.href = url;
      }
   


    }

  </script>
</body>

</html>