<!DOCTYPE html>
<html>

<head>
    <title>Мой сайт</title>
</head>
<div>
    <div style="text-align: center;">
        {% if isAdmin %}
        <h2>Welcome back, admin !</h2>
        
        {% else %}
        <h2>Welcome back, user !</h2>
        {% endif %}
    </div>

    <body>
        <div style="text-align: right;">

            {% if isAdmin %}
            <input type="text" id="tagInput" placeholder="Поиск">
            <button onclick="findWithTag(true)">искать</button>
            {% else %}
            <input type="text" id="tagInput" placeholder="Поиск">
            <button onclick="findWithTag()">искать</button>

            {% endif %}


        </div>

        <div style=" overflow: auto; height: 600px; scrollbar-width: thin;">
            <p>
            <H3>Все посты</H3>
            </p>
            <ul>
                {% for post in posts %}
                    {% if tag == post%}
                        {% if isAdmin %}
                        <li>
                            <p><a   onclick="goToPost('{{post}}')" href="AdminPost/{{ post }}">{{post}}</a></p>
                            <img src="https://via.placeholder.com/50x50" alt="Картинка">
                        </li>
                        {% else %}
                        <li>
                            <p><a   onclick="goToPost('{{post}}')" href="post/{{ post }}">{{post}}</a></p>
                            <img src="https://via.placeholder.com/50x50" alt="Картинка">
                        </li>
                        {% endif %}
                    {% elif tag == ""%}
                        {% if isAdmin %}
                        <li>
                            <p><a   onclick="goToPost('{{post}}')" href="AdminPost/{{ post }}">{{post}}</a></p>
                            <img src="https://via.placeholder.com/50x50" alt="Картинка">
                        </li>
                        {% else %}
                        <li>
                            <p><a   onclick="goToPost('{{post}}')" href="post/{{ post }}">{{post}}</a></p>
                            <img src="https://via.placeholder.com/50x50" alt="Картинка">
                        </li>
                        {% endif %}
                    {% endif %}
                
                {% endfor %}
            </ul>

        </div>

        {% if isAdmin %}
        <div>
            <p>
                <button onclick="editNote()">добавить запись</button>
            <p><a href="http://127.0.0.1:8000/">выйти</a></p>
            </p>

        </div>
        {% endif %}
    </body>

</html>



<script>

    function getUrl(str) {
        var url = "post/?" + "post=" + encodeURIComponent(str)
        return url;
    }
    function findWithTag(check) {
        var tag = document.getElementById('tagInput').value;
        if(check == true)
            var url =  "?name="+ encodeURIComponent("root") + "&password=" + encodeURIComponent("root") + "&tag=" + encodeURIComponent(tag);
        else
            var url =  "tag=" + encodeURIComponent(tag);
        
        document.cookie = "login=value";
        window.location.href = url;
        
    }

    function editNote()
    {
        var url = 'http://127.0.0.1:8000/main/makePost'
        window.location.href = url;
    }
    function goToPost(postName)
    {
        
        document.cookie ="postName="+ postName;
      
       
    }


</script>

