<!DOCTYPE html>
<html>

<head>
    <title>Мой сайт</title>
</head>
<div>
    <div style="text-align: center;">

        {% if isAdmin == -1  %}
        <h2>Не авторазован !</h2>
        {% elif isAdmin == 1  %}
        <h2>Welcome back, admin!</h2>

        {% elif isAdmin == 0  %}
        <h2>Welcome back, user !</h2>
        {% endif %}
    </div>

    <body>
        {% if isAdmin != -1 %}
        <div style="text-align: right;">

            {% if isAdmin == 1 %}
            <input type="text" id="tagInput" placeholder="Поиск">
            <button onclick="findWithTag(true)">искать</button>
            {% else %}
            <input type="text" id="tagInput" placeholder="Поиск">
            <button onclick="findWithTag()">искать</button>

            {% endif %}


        </div>

        <div style=" overflow: auto; height: 600px; scrollbar-width: thin;">
            <p>
           
            <H3>Все посты</H3>
            </p>
            <form method="POST">
                <ul>
                    {% for post,id in posts.items %}
                    {% if isAdmin == 1 %}
                    <li>
                        <p><a onclick="goToPost('{{id}}')" href="AdminPost/?name={{ post }}">{{post}}</a></p>
                        {% for idd,img in img.items %}
                        {% if id == idd %}
                        <!-- <img src="data:image/png;base64,{{ img }}" alt="Изображение"> -->
                        {% endif %}
                        {% endfor %}
                    </li>
                    {% else%}
                    <li>
                        <p><a onclick="goToPost('{{id}}')" href="post/?name={{ post }}">{{post}}</a></p>
                       
                        {% for idd,img in img.items %}
                        {% if id == idd %}
                        <!-- <img src="data:image/png;base64,{{ img }}" alt="Изображение"> -->
                        {% endif %}
                        {% endfor %}
                        
                    
                    </li>
                    {% endif %}
                    {% endfor %}

                </ul>

                  
            </form>

        </div>

        {% if isAdmin %}
        <div>
            <p>
                <button onclick="editNote('{{nameOfAdmin}}')">добавить запись</button>
            <p><button onclick="exit()">Выйти</button></p>
            </p>

        </div>
        {% endif %}
        
        {% endif %}
    </body>


</html>



<script>

   
    function findWithTag(check) {
        var tag = document.getElementById('tagInput').value;
        if (check == true)
            var url = "?name=" + encodeURIComponent("root") + "&password=" + encodeURIComponent("root") + "&tag=" + encodeURIComponent(tag);
        else
            var url = "?tag=" + encodeURIComponent(tag);


        window.location.href = url;

    }

    function editNote(postName) {

       
        var url = 'http://127.0.0.1:8000/main/makePost/?name='
        window.location.href = url;
    }
    function goToPost(postName) {

        document.cookie = "id=" + postName;
    }
    
    function exit()
    {
        document.cookie = "id=" + "";
        var url = 'http://127.0.0.1:8000/'
        window.location.href = url;
    }

</script>

