<!DOCTYPE html>
<html>

<head>
    <title>HTML Form</title>
    <meta charset="UTF-8">

    <script>
        var checkAaut = document.cookie
        .split("; ")
        .find((row) => row.startsWith("go="))
        ?.split("=")[1];

        if(checkAaut == "!")
        {
            var url = 'http://127.0.0.1:8000/'
            window.location.href = url;
        }

    </script>
</head>

<body>
    {% if error == 0  %}

    <h2>В посте недопустимые символы</h2>
   
    {% elif error == 1  %}
    <h2>Размер изображения больше 2 мб</h2>

  
    
    {% endif %}

   
    
    <form method="post" action="http://127.0.0.1:8000/main/?name=root&password=root&tag=&id={{id}}" enctype="multipart/form-data">
        {% csrf_token %}
        {% if post != ""%}
        <label for="title">Заголовок (25 символов):</label><br>
        <input required type="text" id="title" name="title" value={{post}} maxlength="25" required ><br><br>

        <label for="text">Текст:</label><br>
        <textarea id="text" name="text" rows="5" cols="50" required>{{text}}</textarea><br><br>

        <label for="tag">Тег:</label><br>
        <input type="text" id="tag" name="tag" value={{tegs}} placeholder="тег через ',' "> <br><br>

        <label for="image">Картинка:</label><br>
        <input class="enterFile" type="file" name="img" accept=".jpg,.png" required>
        {% else %}
        <label for="title">Заголовок (25 символов):</label><br>
        <input type="text" id="title" name="title" value="" maxlength="25" required><br><br>

        <label for="text">Текст:</label><br>
        <textarea id="text" name="text" rows="5" cols="50" required></textarea><br><br>

        <label for="tag">Тег:</label><br>
        <input type="text" id="tag" name="tag" value="" placeholder=" тег через ',' "> <br><br>

        <label for="image">Картинка:</label><br>
        <input class="enterFile" name="img" type="file" value="" accept=".jpg,.png" required>
        {% endif %}
        <input type="submit" value="Отправить" />
    </form>
</body>
</html>
